.heading{
    text-align: center;
}
li{
    display: inline;
    color:black;
}

h1,h4{
    color:rgb(252, 220, 12);
}
li:hover{
    color:white;cursor: pointer;


}
p{
    color: white;
}
.im{
    display: inline-block;
    margin: 2%;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding:2%;
}
#image{
    text-align: center;
}
nav{
    background-color: rgb(252, 220, 12);
}
ul{
    padding: 10px;
    padding-bottom: 2px;
}
h2{
    color:rgb(252, 220, 12) ;
}
.para:hover{
    color:rgb(252, 220, 12);
    cursor: pointer;

}